* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
    font-family: Merriweather, Arial;
    color: black;
}

main {
  margin: 20px;
  padding: 10px;
  background-color: rgb(226, 226, 223);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4.5rem;
}

h1 {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

header p {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

figure {
    margin: 4.5rem auto;
    background-color: white;
    padding: 15px;
    width: 25%;
    height: auto;
    min-width: 350px;
    border-radius: 20px;
    border: 2px solid rgb(192, 186, 186);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.carmen-img {
    width: 100%;
    min-width: 200px;
    object-fit: contain;
}

figcaption {
    font-size: 1.1rem;
    text-align: center;
    min-width: 200px;
    font-weight: 700;
}

.text-container {
  max-width: 1800px;
  margin: 0 auto 0 auto;
  border: 2px solid rgb(192, 186, 186);
  border-radius: 10px;
  padding: 2px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.carmen-text {
    font-size: 1.2rem;
    width: 80%;
    margin: 15px 0;
    text-align: justify;
    font-weight: 300;
    line-height: 1.8rem;
}

.prayer-container {
  max-width: 900px;
  margin: 4.5rem auto;
  padding: 0 10px;
}

.prayer-container p {
  text-align: center;
  line-height: 2.5rem;
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 300;
}

h3 {
  padding: 50px 0;
  text-align: center;
}

.neo-link {
  text-decoration: none;
}



/* Makes the font-size responsive*/
/* large screen */
@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }
}

/* Tablet screen */
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Mobile screen */
@media (max-width: 580px) {
  html {
    font-size: 12px;
  }

  .carmen-text {
    width: 100%;
  }
}

