body {
    font-family: Montserrat, Arial;
    color: black;
}

main {
   margin: 30px 10px;
   padding: 15px;
   border-radius: 5px;
   background-color: rgb(241, 241, 239);

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h1 {
    font-size: min(7vw, 4rem);
    text-align: center;
}

figure {
    background-color: white;
    padding: 15px;
    margin: 0;
    width: 95%;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    width: 21vw;
    min-width: 300px;
    margin-bottom: 20px;
}

figcaption {
    margin: 0;
    font-size: min(4vw, 1.2rem);
    text-align: center;
    min-width: 200px;
    font-weight: 700;
}

h2 {
    font-size: min(4vw, 1.6rem);
    text-align: center;
}

.text-container {
    margin: 40px 0 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.carmen-text {
    font-size: min(3.5vw, 1.2rem);
    max-width: 1600px;
    margin: 15px 0;
    text-align: justify;
    font-weight: 500;

}

