main {
  margin: 8rem 4rem 4rem 4rem;
  padding: 10px;
}

.heading-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  margin: 4rem auto 0 auto;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.2rem;
}

.heading-section p {
  text-align: center;
  margin: 0 auto;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

.main-image {
    margin: 4rem auto 0 auto;
    padding: 15px;
    width: 25%;
    height: auto;
    min-width: 350px;
    border-radius: 20px;
    border: 2px solid var(--border-color);
    box-shadow: 0 4px 8px 3px rgb(131, 108, 108, 0.5);
}

.carmen-img {
    width: 100%;
    min-width: 200px;
    object-fit: contain;
}

figcaption {
    font-size: 1rem;
    text-align: center;
    min-width: 200px;
    font-weight: 700;
    margin: 0.6rem 0;
}

.text-container {
  max-width: 1800px;
  margin: 4rem auto 0 auto;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 2px 15px;
  box-shadow: 0 4px 8px 3px rgb(131, 108, 108, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.carmen-text {
    font-size: 1.2rem;
    width: 80%;
    margin: 15px 0;
    text-align: justify;
    font-weight: 300;
    line-height: 1.8rem;
}

.gallery-section {
  margin: 4rem auto 0 auto;
  padding: 0 1rem;
}

h4, h3 {
  text-align: center;
  font-size: 1.8rem;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 4rem;
  
}

.image-gallery-container {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 1.2rem;
  padding: 20px;
  text-align: center;
}

.image-gallery-container:hover img {
}
/* When you mouse over the container, fade in the overlay title */
.image-gallery-container:hover .overlay {
  opacity: 1;
}

.image-gallery-container img {
  width: 370px;
  height: 340px;
  object-fit: cover;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px 3px rgb(131, 108, 108, 0.5);
}

.prayer-container {
  max-width: 900px;
  margin: 6rem auto;
  padding: 2rem;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px 3px rgb(131, 108, 108, 0.5);
}

.prayer-container h4 {
  margin-bottom: 2rem;
}

.prayer-container p {
  text-align: center;
  line-height: 2.5rem;
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 300;
}


/* large screen */
@media (min-width: 1400px) {
  
}

/* Tablet screen */
@media (max-width: 768px) {
  main {
    margin: 8rem 0.5rem 4rem 0.5rem;
  }

  figcaption {
    font-size: 0.8rem;
  }

  .gallery-container img {
    width: 500px;
  }
 
}

/* Mobile screen */
@media (max-width: 580px) {
  main {
    margin: 8rem 0.5rem 4rem 0.5rem;
  }

  figcaption {
    font-size: 1rem;
  }

  .gallery-container img {
    width: 400px;
  }
}


