footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5rem;
  padding: 3.5rem 0.6rem;
  background-color: var(--bg-color2);
  color: white;
}
.reference {
  text-align: center;
  font-size: 1rem;
}

.neo-link {
  color: blue;
  text-decoration: underline;
  transition: color 0.3s;
}

.neo-link:hover {
  color: blue;
  text-decoration: none;
}

footer div {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  margin-top: 1rem;
}

/* Mobile screen */
@media (max-width: 580px) {
  footer {
    height: 120px;
  }
}
