footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    padding: 2rem 0.6rem;
    background-color: var(--bg-color2);
    color: white;
  }
  .reference {
    text-align: center;
    font-size: 1.2rem;
  }
  
  .neo-link {
    color: blue;
    font-weight: 700;
  }