footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    padding: 2rem 0.6rem;
    background-color: var(--bg-color2);
    color: white;
  }
  .reference {
    text-align: center;
    font-size: 1.2rem;
  }
  
  .neo-link {
    color: white;
    font-weight: 700;
    text-decoration: underline;
    transition: color 0.3s;
  }

  .neo-link:hover {
    color: blue;
    text-decoration: none;
  }

  /* Mobile screen */
@media (max-width: 580px) {
  footer {
    height: 120px;
  }
}