header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 3rem;
    background-color: var(--bg-color2);

  
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .neocat-icon {
    width: 80px;
    height: 750px;
    object-fit: contain;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
  }
  
  nav a {
    padding: 0.6rem 0;
    width: 100px;
    margin: 0 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    color: rgb(241, 241, 228);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.4s, color 0.4s;
  }
  
  nav a:hover {
    background-color: var(--bg-color1);
    color: var(--bg-color2);
  }

  nav a:active {
    background-color: var(--bg-color3);
  }

  /* large screen */
@media (min-width: 1400px) {

}
  

/* Tablet screen */
@media (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0.5rem;
    right: 0.5rem;
    padding: 0 0.9rem;
  }

  nav a {
    padding: 0.6rem 0;
    width: 90px;
  }
}

/* Mobile screen */
@media (max-width: 580px) {
  header {
    position: fixed;
    top: 0;
    left: 0.5rem;
    right: 0.5rem;
    padding: 0 0.3rem;
  }

  nav a {
    padding: 0.6rem 0;
    width: 80px;
  }
}